{% extends "main_template.html" %}
{% block head_name %}
<title>회원 정보 수정</title>
{% endblock %}
{% block main_container %}
<h2>회원 정보 수정</h2>
<form action="">
    <div class="mb-3 mt-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
    </div>
    <div class="mb-3">
      <label for="pwd" class="form-label">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
    </div>
    <div class="form-check mb-3">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="manager"> 관리자 확인
      </label>
    </div>
    <div class="mb-3"> <!--bottom에 마진을 주는 클래스-->
        <label for="sel1" class="form-label">Select list (select one):</label>
        <select class="form-select" id="sel1" name="sellist1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="comment">Comments:</label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endblock %}
  {% block footer %}
  <footer class="container">footer</footer>
  {% endblock %}